@model IEnumerable<Trackily.Models.View.IndexViewModel>

<h1 class="h3 mb-2 text-gray-800">Archived Tickets</h1>
<div class="card shadow mb-4 overflow-hidden">
    <div class="card-body overflow-hidden">
        <div class="table-responsive overflow-hidden">
            <table id="ticketsTable" class="table table-hover table-bordered text-nowrap" width="100%">
                <thead>
                    <tr>
                        <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.Title)</th>
                        <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.Type)</th>
                        <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.NumAssignedUsers)</th>
                        <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.CreatedDate)</th>
                        <th data-halign="center" data-align="center" data-sortable="true">Closed</th>
                        <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.CreatorName)</th>
                        <th data-halign="center" data-align="center"></th> <!--Column to select options (Edit/Details).-->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Type)</td>
                        <td>@Html.DisplayFor(modelItem => item.NumAssignedUsers)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.UpdatedDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatorName)</td>
                        <td>
                            <a class="fa fa-fw fa-lg fa-edit float-left mt-2 mb-2" 
                               creator="@item.CreatorId" 
                               asp-action="Edit" 
                               asp-route-id="@item.TicketId"></a>
                            <a class="fa fa-fw fa-lg fa-info-circle float-right mt-2 mb-2" 
                               asp-action="Details" 
                               asp-route-id="@item.TicketId"></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#ticketsTable').dataTable({
            "scrollY": '70vh',
            "scrollX": true,
            "scrollCollapse": true,
            "language": {
                "emptyTable": "No Tickets have been closed yet."
            },
            "order": [[4, "desc"]]
        } );
    });
</script>