@model Trackily.Models.View.DetailsTicketViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Click on Edit changes TinyMCE from readonly to editable. Also check that the current user is the creator. 
    Also, only show the Edit button if the current user is authorized to Edit the post. -->

<div class="row">
    <div class="col-md-6">
        <h1>Details</h1>
        <h4>@Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsReviewed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsReviewed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsApproved)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsApproved)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Priority)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>
        </dl>
        <div class="row">
            <textarea class="TinyMCE">@Model.Content</textarea>
        </div>
    </div>
    <form asp-action="Details" class="col-md-6">
        <h1>Comments</h1>
        <button type="button" class="btn btn-primary" id="CommentThreadButton">Start a new comment thread</button>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <div class="col-sm">
                <div class="card" id="NewCommentThread" style="display: none">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-sm float-left">
                                <h5>Start a new comment thread.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div>
                            <textarea class="TinyMCE" id="NewCommentThreadEditor" name="CommentThreadContent"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.CommentThreads != null && Model.CommentThreads.Count > 0)
        {
            <!--Show existing comment threads.-->
            foreach (var commentThread in Model.CommentThreads)
            {
                <div class="form-group">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-header pb-0">
                                <div class="row">
                                    <div class="col-sm float-left">
                                        <h5>@commentThread.Creator.UserName</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm float-left">
                                        <p>@commentThread.CreatedDate</p>
                                    </div>
                                    <div class="col-sm float-right">
                                        <p>@commentThread.UpdatedDate</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <textarea class="TinyMCE">@commentThread.Content</textarea>
                            </div>
                            <div class="card-footer">
                                <ul class="list-group list-group-horizontal-sm float-right">
                                    <li class="list-group-item btn btn-primary reply-btn" value="False">Reply</li>
                                    <li class="list-group-item btn btn-primary edit-reply">
                                        Edit
                                    </li>
                                    <li class="list-group-item">Delete</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Input to submit a new reply to the current comment thread.-->
                <div class="form-group">
                    <div class="col-sm offset-sm-2">
                        <div class="card toggle-reply" style="display: none">
                            <div class="card-header pb-0">
                                <div class="row">
                                    <div class="col-sm float-left">
                                        <h5>Reply to thread</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="form-group">
                                    <!--Bind to NewReplies dictionary.-->
                                    <textarea class="TinyMCE" name="NewReplies[@commentThread.CommentThreadId]"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Show the replies to the current comment thread.-->
                if (commentThread.Comments != null && commentThread.Comments.Count > 0)
                {
                    int index = 0;
                    foreach (var comment in commentThread.Comments)
                    {
                        <div class="row">
                            <div class="col-sm offset-sm-2">
                                <div class="card">
                                    <div class="card-header pb-0">
                                        <div class="row">
                                            <div class="col-sm float-left">
                                                <h6>@comment.Creator.UserName</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm float-left">
                                                <p><small>@comment.CreatedDate</small></p>
                                            </div>
                                            <div class="col-sm float-right">
                                                <p><small>@comment.UpdatedDate</small></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="form-group">
                                            <textarea class="TinyMCE" 
                                                      id="@comment.CommentId.ToString()-@index.ToString()">
                                                @comment.Content
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <ul class="list-group list-group-horizontal-sm float-right">
                                            <li class="list-group-item btn btn-primary edit-reply"
                                                onclick="toggleEditReply(@comment.CommentId.ToString(), @index.ToString())">
                                                Edit
                                            </li>
                                            <li class="list-group-item">Delete</li>
                                        </ul>
                                        <button class="btn btn-primary" onclick="toggleEditReply(@comment.CommentId.ToString(), @index.ToString())"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        index++;
                    }
                }
            }
        }

        <div class="form-group">
            <input type="hidden" asp-for="TicketId" />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="row">
    <a class="btn btn-link" asp-action="Edit" asp-route-id="@Model.TicketId">Edit Ticket</a> 
    <a class="btn btn-link" asp-action="Index">Back to Index</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_DetailsScriptsPartial");
    }
}