@model Trackily.Models.View.Ticket.TicketEditViewModel
@using static Trackily.Models.Domain.Ticket

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container float-left" id="page-top">
    <div class="col-md-12">
        <h1>Edit Ticket</h1>
        <hr>
        <form asp-action="Edit">
            <input type="hidden" asp-for="TicketId" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Title"></label>
                    <div ><span asp-validation-for="Title" class="text-danger"></span></div>
                    <input asp-for="Title" class="form-control" />
                    <small class="text-muted">Must be 10-60 characters long.</small>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="CreatorName"></label>
                    <input type="text" class="form-control-plaintext" readonly asp-for="CreatorName"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="CreatedDate"></label>
                    <div class="form-control-plaintext" disabled>@Html.DisplayFor(model => model.CreatedDate)</div>
                    <input type="hidden" asp-for="CreatedDate" />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="UpdatedDate"></label>
                    <div class="form-control-plaintext" disabled>@Html.DisplayFor(model => model.UpdatedDate)</div>
                    <input type="hidden" asp-for="UpdatedDate" />
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="ProjectTitle"></label>
                    <div class="form-control-plaintext" disabled>@Model.ProjectTitle</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Status"></label>
                    <div><span asp-validation-for="Status" class="text-danger"></span></div>
                    <select class="form-control" asp-for="Status" asp-items="Html.GetEnumSelectList<TicketStatus>()"></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Type"></label>
                    <div><span asp-validation-for="Type" class="text-danger"></span></div>
                    <select class="form-control" asp-for="Type" asp-items="Html.GetEnumSelectList<TicketType>()"></select>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Priority"></label>
                    <div><span asp-validation-for="Priority" class="text-danger"></span></div>
                    <select class="form-control" asp-for="Priority" asp-items="Html.GetEnumSelectList<TicketPriority>()"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="AddAssigned"></label>
                    <div><span asp-validation-for="AddAssigned" class="text-danger"></span></div>
                    <table class="table table-borderless p-0" id="formTable">
                        <tbody>
                        <tr>
                            <td class="p-0"><input asp-for="AddAssigned" class="form-control" placeholder="username" /></td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary btn-circle mt-0" href="javascript:addRow();" role="button">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="RemoveAssigned"></label>
                    @foreach (var key in Model.RemoveAssigned.Keys)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="RemoveAssigned[key]" id="@key"/>
                            <label class="form-check-label" for="@key">@key</label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label>Ticket content</label>
                    <div ><span asp-validation-for="Content" class="text-danger"></span></div>
                    <textarea class="form-control TinyMCE" asp-for="Content"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <button type="submit" class="btn btn-success btn-circle btn-lg float-left">
                        <i class="fas fa-check"></i>
                    </button>
                    <a asp-action="DeleteTicket" asp-route-id="@Model.TicketId" class="btn btn-danger btn-circle btn-lg float-right">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
            <div class="form-row mt-2">
                <a asp-action="Index">Back to Tickets</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("~/Views/Shared/ScriptsPartial/_EditScriptsPartial.cshtml");
    }

}
