@model Trackily.Models.View.EditTicketViewModel
@using static Trackily.Models.Domain.Ticket

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Edit" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit Ticket</h1>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TicketId"/>
            <div class="form-group">
                <p><label asp-for="CreatedDate"></label>: @Html.DisplayFor(model => model.CreatedDate)</p>
                <input type="hidden" asp-for="CreatedDate"/>
            </div>
            <div class="form-group">
                <p><label asp-for="UpdatedDate"></label>: @Html.DisplayFor(model => model.UpdatedDate)</p>
                <input type="hidden" asp-for="UpdatedDate"/>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CreatorUserName"/>
                <p>
                    <label asp-for="CreatorUserName"></label>:
                    @Html.DisplayFor(model => model.CreatorUserName)
                </p>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<TicketType>()" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<TicketStatus>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority"></label>
                <select asp-for="Priority" asp-items="Html.GetEnumSelectList<TicketPriority>()" class="form-control"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemoveAssigned"></label>
                @foreach (var key in Model.RemoveAssigned.Keys)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="RemoveAssigned[key]"/>
                        <label class="form-check-label" asp-for="@key">@key</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label>Assign users</label>
                <table id="formTable">
                    <!--Fix this: not showing each of the user input assigned user when validation fails.-->
                    <tbody>
                    <tr>
                        <td><input asp-for="AddAssigned" class="form-control" placeholder="username"/></td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" href="javascript:addRow();" role="button">Add</a>
                <span asp-validation-for="AddAssigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsReviewed"></label>
                <input asp-for="IsReviewed"/>
            </div>
            <div class="form-group">
                <label asp-for="IsApproved"></label>
                <input asp-for="IsApproved"/>
            </div>
            <div class="form-group">
                <span asp-validation-for="Content" class="text-danger"></span>
                <textarea asp-for="Content" class="TinyMCE"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <a class="btn btn-danger float-right" asp-action="Delete" asp-route-id="@Model.TicketId">Delete</a>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <a class="btn btn-link" asp-action="Index">Back to Tickets</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_EditScriptsPartial");
    }

}
