@model IEnumerable<Trackily.Models.View.IndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Active Tickets</h1>
<p class="mb-4">You may want to say something about how to interact with the table here.</p>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered"
                   data-search="true"
                   data-sort-name="Priority"
                   data-sort-order="desc">
                <thead>
                <tr>
                    <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.Title)</th>
                    <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.Priority)</th>
                    <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.Type)</th>
                    <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.Status)</th>
                    <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.NumAssignedUsers)</th>
                    <th data-halign="center" data-align="center" data-sortable="true">@Html.DisplayNameFor(model => model.CreatedDate)</th>
                    <th data-halign="center" data-align="center"></th> <!--Column to select options (Edit/Details).-->
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                        <td>@Html.DisplayFor(modelItem => item.Type)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.NumAssignedUsers)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                        <td>
                            <a creator="@item.CreatorUserName" asp-action="Edit" asp-route-id="@item.TicketId">Edit |</a>
                            <a asp-action="Details" asp-route-id="@item.TicketId">Details</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>