@model IEnumerable<Trackily.Models.View.IndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Ticket</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col" align="center">@Html.DisplayNameFor(model => model.Title)</th>
            <th scope="col" align="center">@Html.DisplayNameFor(model => model.Priority)</th>
            <th scope="col" align="center">@Html.DisplayNameFor(model => model.Type)</th>
            <th scope="col" align="center">@Html.DisplayNameFor(model => model.Status)</th>
            <th scope="col" align="center">@Html.DisplayNameFor(model => model.NumAssignedUsers)</th>
            <th scope="col" align="center">@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <th scope="col" align="center">@Html.DisplayNameFor(model => model.UpdatedDate)</th>
            <th scope="col" align="center">@Html.DisplayNameFor(model => model.IsReviewed)</th>
            <th scope="col" align="center">@Html.DisplayNameFor(model => model.IsApproved)</th>
            <th scope="col" align="center"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td scope="col" align="center">@Html.DisplayFor(modelItem => item.Title)</td>
            <td scope="col" align="center">@Html.DisplayFor(modelItem => item.Priority)</td>
            <td scope="col" align="center">@Html.DisplayFor(modelItem => item.Type)</td>
            <td scope="col" align="center">@Html.DisplayFor(modelItem => item.Status)</td>
            <td scope="col" align="center">@Html.DisplayFor(modelItem => item.NumAssignedUsers)</td>
            <td scope="col" align="center">@Html.DisplayFor(modelItem => item.CreatedDate)</td>
            <td scope="col" align="center">@Html.DisplayFor(modelItem => item.UpdatedDate)</td>
            <td scope="col" align="center">@Html.DisplayFor(modelItem => item.IsReviewed)</td>
            <td scope="col" align="center">@Html.DisplayFor(modelItem => item.IsApproved)</td>
            <td scope="col" align="center">
                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
